body {
  font-family: 'Comic Sans MS', cursive;
  background-color: #1c1c1c; /* Noir */
  color: #ffc107; /* Jaune */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: #1c1c1c; /* Noir */
  border: 2px solid #ffc107; /* Jaune */
  border-radius: 10px;
}

h1 {
  text-align: center;
}

button {
  background-color: transparent;
  color: #ffc107; /* Jaune */
  border: 2px solid #ffc107; /* Jaune */
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #ffc107; /* Jaune */
  color: #1c1c1c; /* Noir */
}
