body {
  background-color: #1c1c1c;
  color: #ffc107;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

button {
  background-color: transparent;
  color: #ffc107; /* Jaune */
  border: 2px solid #ffc107; /* Jaune */
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #ffc107; /* Jaune */
  color: #1c1c1c; /* Noir */
}

#movieDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

#movieTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

#movieOverview {
  margin: 10px 0;
}

#releaseDate {
  font-style: italic;
  margin-top: 10px;
}

#movieImage {
  width: 300px; /* Ajustez la largeur de l'image selon vos besoins */
  height: 450px; /* Ajustez la hauteur de l'image selon vos besoins */
  background-size: cover;
  background-position: center;
  margin: 20px auto;
  border: 2px solid #ff0;
  border-radius: 5px;
}

.view-cart-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
